<h1> Player </h1>
<div>
    <%= @player.name %><br>
</div>




<ul>
    <li><%= link_to "Players", players_path %></li></div>
    <li><%= link_to "Characters", characters_path %></li></div>
    <li><%= link_to "Game Master Dashboard", root_path %></li></div>
</ul>
